@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);

    --font-default: "Inter", sans-serif, "Roboto";
    --font-inter: "Inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-usc-cardinal-red: #990000;
    --color-usc-cardinal-dark: #840001;
    --color-usc-cardinal-light: #af0003;

    --color-usc-gold: #ffcc00;
    --color-usc-gold-dark: #edba00;
    --color-usc-gold-light: #ffd328;

    --breakpoint-mobile: 460px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;
}

p {
    font-size: 1.25rem;
    color: var(--color-gray-900);
    font-family: "Roboto", "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Inter", "Roboto", sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--color-black);
}

h1 {
    font-size: 2.5rem; /* Larger than p */
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem; /* Slightly larger than p */
}

ul,
ol {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 2rem; /* Indent lists */
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: 0.25rem;
    font-family: "Roboto", "Inter", sans-serif;
    font-size: 1.2rem; /* Slightly smaller than p for list items */
}

code {
    font-family: var(--font-mono), monospace; /* Use a monospace font */
    background-color: #f0f0f0; /* Light grey background */
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.9em; /* Slightly smaller for code blocks */
}

pre {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto; /* Allow horizontal scrolling for long code lines */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

pre code {
    background-color: transparent; /* Code inside pre shouldn't have its own background */
    padding: 0;
    border-radius: 0;
    font-size: 1em; /* Reset font size for code inside pre */
}
